
form {
	width           : 100%;
	text-align      : center;
	display         : flex;
	align-items     : center;
	justify-content : center;
}

input {
	height        : 45px;
	border        : 0;
	background    : #FFFFFF;
	width         : 60%;
	border-radius : 5px;
	padding       : 10px 15px;
	font-size     : 16px;
	font-weight   : 600;
}

input:focus {
	outline : none;
}

form button {
	height        : 45px;
	width         : 65px;
	background    : #8BC34A;
	color         : #FFFFFF;
	font-size     : 26px;
	border        : 0;
	border-radius : 8px;
}